
Code/Neuron/__pycache__/neuron_mod.cpython-39.pyc
Code/Neuron/__pycache__/neuronLayer_mod.cpython-39.pyc
Code/Neuron/__pycache__/neuronNetwork_mod.cpython-39.pyc
Code/Perceptron/P1 - Perceptron.zip
Code/Perceptron/__pycache__/perceptron_mod.cpython-38.pyc
Code/Perceptron/__pycache__/perceptron_mod.cpython-38.pyc
Code/Perceptron/__pycache__/perceptron_mod.cpython-39.pyc
Code/Perceptron/__pycache__/perceptronLayer_mod.cpython-38.pyc
Code/Perceptron/__pycache__/perceptronNetwork_mod.cpython-39.pyc
Code/Perceptron/__pycache__/perceptronNetwork_mod.cpython-38.pyc
Code/Perceptron/__pycache__/perceptronNetwork_mod.cpython-39.pyc
Code/Perceptron/__pycache__/perceptronNetwork_mod.cpython-38.pyc
Code/Perceptron/__pycache__/perceptronLayer_mod.cpython-39.pyc
Code/Perceptron/__pycache__/perceptronLayer_mod.cpython-38.pyc
Code/Perceptron/__pycache__/perceptron_mod.cpython-39.pyc
Code/Perceptron/__pycache__/perceptron_mod.cpython-38.pyc
Code/P4/__pycache__/neuron_mod.cpython-39.pyc
Code/P4/__pycache__/neuronLayer_mod.cpython-39.pyc
Code/P4/__pycache__/neuronNetwork_mod.cpython-39.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/MachineLearningSchool.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Code/P4/__pycache__/neuronNetwork_mod.cpython-38.pyc
Code/P4/__pycache__/neuron_mod.cpython-38.pyc
Code/P4/__pycache__/neuron_unit_test.cpython-38.pyc
Code/P4/__pycache__/neuronLayer_mod.cpython-38.pyc
